{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Getting Started with Auto DevOps</h1>
    <p>This is a sample Python application deployed to Kubernetes using Auto DevOps. It's a reasonably simple app (cloned from Heroku's python sample) but a good foundation for understanding Auto DevOps.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://python-gitlab.readthedocs.io/en/stable/"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://gitlab.com/danielgruesso/python-sample"><span class="glyphicon glyphicon-download"></span> Source on GitLab</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, fork <a href="https://gitlab.com/danielgruesso/python-sample" class="alert-link">this project</a> on GitLab.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Kubernetes using Auto DevOps.</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://about.gitlab.com">GitLab</a></li>
        <li><a href="https://docs.gitlab.com/ee/topics/autodevops/">Auto DevOps Docs</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Everyone can contribute.
  </div>
</div>
{% endblock %}